# Application
PORT=3000

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=auth_db

# JWT
JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_ACCESS_EXPIRES=1h

# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=nestjs-sample-kafka-client

# TCP Services
AUTH_SERVICE_HOST=localhost
AUTH_SERVICE_PORT=4001
USER_SERVICE_HOST=localhost
USER_SERVICE_PORT=4002
