# Application
PORT=3000

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=auth_db

# JWT
JWT_SECRET=your_jwt_secret

# Kafka
KAFKA_BROKER=localhost:9092
KAFKA_CLIENT_ID=nestjs-sample-kafka-client
